<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <div class="masonry-gutter"></div>
          <div class="masonry-block">
            <div class="block block-image v1">

              <div class="block-image">
                <div class="view view-first">
                </div>
              </div>

              <div class="block-content">
                <h3 class="block-title">
                  <i class="fa fa-map-marker"></i> スレッド一覧
                </h3>
                <p>以下検索フォームで、スレッド・レス・カテゴリの検索が可能です</p>

                <%= search_form_for @q do |f| %>
                  <%= f.search_field :title_or_body_or_messages_body_or_categories_category_name_cont, placeholder: "スレッド本文 or タイトル or レスポンス or カテゴリ検索", autofocus: true, class:"form-control" %>
                  <%= f.submit "検索", class: "btn btn-md btn-block btn-base-1 mt-10" %>
                <% end %>

                <% @posts.each do |post| %>
                <hr>
                <ul class="inline-meta">
                  <li>
                    <%= link_to post_path(post.id) do %>
                      <%= post.title %> (<%= post.messages.count %>)
                    <% end %>
                  </li>
                  <li>
                    <% post.post_categories.each do |post_category| %>
                      #<%= post_category.category.category_name %>
                    <% end %>
                  </li>
                  <li>Posted by
                    <%= post.user.name %>
                  </li>
                </ul>

                <% end %>
              <div class="block-image">
                <div class="view view-first">
                </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
