<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <div class="masonry-gutter"></div>
          <div class="masonry-block">
            <div class="block block-image v1">

              <div class="block-image">
                <div class="view view-first">
                </div>
              </div>

              <div class="block-content">
                <!-- スレッドタイトル表示 -->
                <h3 class="block-title">
                  <i class="fa fa-map-marker"></i> <%= @post.title %><br>
                </h3>
                <hr>
                <!-- スレッド本文表示 -->
                <p><%= @post.body %></p>
                <p class="text_left">
                  カテゴリー：
                  <% @post.post_categories.each do |post_category| %>
                    <span>  #<%= post_category.category.category_name %></span>
                  <% end %>
                </p>
                <p class="text_left">
                  Posted by <%= @post.user.name %>
                </p>
                <h3 class="block-title">
                  <i class="fa fa-map-marker"></i> レスポンス一覧
                </h3>
                  <!-- レスポンス表示 -->
                  <% @post.messages.each do |message| %>
                  <hr>
                  <ul class="inline-meta">
                    <li>
                        <%= message.body %>
                    </li>
                    <li>Responsed by
                      <%= message.user.name %>
                    </li>
                  </ul>

                  <% end %>

              <!-- ログインしていればレスポンス生成画面を表示 -->
                <% if user_signed_in? %>
                  <hr>

                  <h3 class="block-title">
                    <i class="fa fa-map-marker"></i> コメントする
                  </h3>

                  <%= form_for [@post, @message] do |f| %>
                    

                          <%= f.label :body, '本文：' %>
                          <%= f.text_area :body, autofocus: true, class:"form-control", placeholder:"レスポンス" %>


                    <hr>

                    <%= f.submit "コメントする", class: "btn btn-lg btn-block btn-base-1 mt-20" %>

                  <% end %>

                <% end %>

              <div class="block-image">
                <div class="view view-first">
                </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
