<section class="slice sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-6 col-md-offset-3 post_image_form">
            <div class="section-title-wrapper style-1 v1">
              <h3 class="section-title section-title-sm left">
                <span>カテゴリー作成フォーム</span>
              </h3>
            </div>

            <%= form_for @category, url: categories_path do |f| %>
              

                    <%= f.label :category_name, 'カテゴリー名：' %>
                    <%= f.text_field :category_name, autofocus: true, class:"form-control", placeholder:"カテゴリー" %>


              <hr>

              <%= f.submit "登録", class: "btn btn-lg btn-block btn-base-1 mt-20" %>

            <% end %>


          </div>
        </div>
      </div>

      <div class="col-md-12">

        <div class="row">
          <div class="col-md-6 col-md-offset-3 post_image_form">
            <div class="section-title-wrapper style-1 v1">
              <h3 class="section-title section-title-sm left">
                <span>カテゴリー一覧</span>
              </h3>
            </div>

            <% @categories.each do |category| %>
              
              <div class="row">
                <div class="col-sm-6">
                    <%= category.category_name %>
                </div>
                <div class="col-sm-6">
                  <%= button_to "削除", category_path(category.id), method: :delete, class: "btn btn-sm btn-block btn-base-1" %>
                </div>
              </div>

              <hr>

            <% end %>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>